.learnmore h1,
.learnmore p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.learnmore button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  margin-bottom: 30px;
}
.learnmore img {
  width: 50%;
  margin-left: 25%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}