.learnmore {
  width: 195%;
  padding: 20px;
  background-color: rgba(0, 221, 255, 0.638);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: -50%;
  height: 90vh;
}

.learnmore h1 {
  text-align: center;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 20px;
}

.learnmore p {
  text-align: center;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
}

.learnmore a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 0 auto;
  margin-top: 10px;

}

.learnmore a:hover {
  color: blue;
  background-color: rgba(0, 221, 255, 0.8);
  border-color: rgba(0, 0, 0, 0.5);
}