.card {
  border: 10px solid #ccc;
  background-color: #009879;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: calc(25% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
}

.card select {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.card select:focus {
  outline: none;
  border-color: #007bff;
}

.card select option {
  font-size: 14px;
}

.card img {
  border-radius: 50%;
}