.container {
  display: flex;
  justify-content: space-around; /* This will put space between the two main sections */
  align-items: center;
  height: 100vh;
  background-image: url('https://media.istockphoto.com/id/183361396/photo/football-field.webp?b=1&s=170667a&w=0&k=20&c=BCRnEN2O5hLkfNxka50I9pfl4CCIB2OgN2P-rxjK4Us=');
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-color: #f5f5f7; /* A light grey background for the whole page */
}

.titleContainer {
  flex-basis: 30%; /* Adjust as needed, 30% of the container width */
  text-align: center;
  margin-right: 2%; /* Space between the title and form */
}

.formContainer {
  flex-basis: 40%; /* Adjust as needed, 40% of the container width */
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.logo {
  font-size: 34px;
  color: white;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputGroup input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  display: flex;
}

.inputGroup input:hover {
  border-color: #0056b3;
}

.submitButton {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:hover {
  background-color: #0056b3;
}