.card {
  border: 10px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #009879;
  width: calc(33.33% - 20px);
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card select {
  margin: 10px 10px 10px 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.card span {
  margin: 10px 10px 10px 10px;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}

.card input {
  margin: 10px 10px 10px 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.card p {
  margin: 5px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.card select {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.card select:focus {
  outline: none;
  border-color: #007bff;
}

.card select option {
  font-size: 14px;
}

.card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.card .score {
  margin: 10px 10px 10px 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #1e293b;
}

.winningTeam {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #043008;
}
.teamContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team p {
  margin-top: 5px;
  font-size: 16px;
}

.logo {
  display: inline-block;
}
