table {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  color: #0d6efd;
}

th {
  background-color: #0d6efd;
  color: #ffffff;
  text-align: center;
  padding: 12px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

td {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  color: #6b2c70;
}

tbody {
  background-color: #e4e7eb;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:hover {
  background-color: #cfd8dc;
  cursor: pointer;
}

img {
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
  }
}