.sticky-alert {
  background-color: #f0e548;
  color: #333;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.sticky-alert button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  color: #333;
}
